pre {
    background-color: null;
}

code {
    background-color: null;
    color: #f5f5f5;
    font-family: monospace, monospace;
}

/* KeyWordTok */
.sourceCode .kw { color: #87e8c1; }
/* DataTypeTok */
.sourceCode .dt { color: #1c9ffc; }

/* DecValTok (decimal value), BaseNTok, FloatTok */
.sourceCode .dv { color: #f5f5f5; }
.sourceCode .bn { color: #f5f5f5; }
.sourceCode .fl { color: #f5f5f5; }
/* CharTok */
.sourceCode .ch { color: #f5f5f5; }
/* StringTok */
.sourceCode .st { color: #4e9aa6; }
/* CommentTok */
.sourceCode .co { color: #7d9091; }
/* OtherTok */ /* FunctionTok */
.sourceCode .ot, sourceCode .fu: { color: #f5f5f5; }
/* AlertTok */
.sourceCode .al { color: #ef2929; font-weight: bold; }
/* RegionMarkerTok */
.sourceCode .re { }
/* ErrorTok */
.sourceCode .er { color: #a40000; font-weight: bold; }
