<!DOCTYPE html>
<header>
  <nav class="left-sidebar">
		<a class="beacon" href="/">
          <div id="home-text"> HOME </div>
    </a>
		<a class="beacon" href="/about.html">
          <div id="about-text"> ABOUT </div>
      </a>		
    </nav>
    <div class="right-sidebar">
        {{#githubUser}}
        <a class="ext-link" href="https://github.com/{{githubUser}}">
            <img src="/images/github-logo.png" alt="Github Profile"/>
        </a>
        {{/githubUser}}

        {{#mathstodonHandle}}
        <a class="ext-link" href="https://mathstodon.xyz/@{{mathstodonHandle}}">
            <img src="/images/mathstodon-logo.png" alt="Mathstodon Profile"/>
        </a>
        {{/mathstodonHandle}}
		</div>
    <script>
    MathJax = {
      tex: {
        inlineMath: [['\\(', '\\)']],
        displayMath: [['\\[', '\\]']],
        processEscapes: true,
        processEnvironments: true
      },
      options: {
        skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
      }
    };
    </script>
    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
</header>
